@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,800&display=swap');
body{
    margin: 0;
    background-color: rgb(16, 16, 20);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.input-textarea{
    color: #fff;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: #fff 2px solid;
    height: 40px;
    width: 300px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    font-size: 16px;
}
.input-textarea:focus{
    background-color: transparent;
    border-color: #fff;
    outline: none;
}
.title{
    font-weight: 800;
    font-style: italic;
    font-size: 24px;
    user-select: none;
}
.input{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-btn{
    width: 300px;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-weight: 800;
    font-style: italic;
    padding: 20px 0 20px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.input-btn:hover{
    background-color: rgb(223, 223, 223);
}
.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 34);
}
.playerslist-empty{
    width: 300px;
}
.playerslist{
    width: 300px;
    margin: 10px 0 10px 0;  
    border: 2px solid;
    box-sizing: border-box;
    padding: 10px;
}
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}
ol li{
    height: 28px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.icon{
    font-size: 22px;
    color: rgb(255, 15, 55);
    transition: 0.3s color;
    cursor: pointer;
    user-select: none;
}
.icon:hover{
    color: rgb(255, 89, 117);
}
.result{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 34);
    display: flex;
    flex-direction: row;
    display: none;
    opacity: 0;
    transition: 0.3s;
}
.team{
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.team-title{
    font-weight: 800;
    font-size: 40px;
}
.teamone{
    text-align: right;
}
.teamtwo{
    background-color: rgb(16, 16, 20);
}
.team-list{
    font-size: 36px;
}
.back{
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.back:hover{
    color: rgb(223, 223, 223);
}
.team-player{
    height: 44px;
}